/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-color-main {
    color: var(--main-color);
}

.fa-circled {
    border: thin solid var(--main-bg-color);
    border-radius: 8rem;
    height: 24px;
    width: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    align-self: center;
}

a {
    color: inherit;
    text-decoration: none;
}

br {
    flex-basis: 100%;
    height: 0;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/****** Card ***********/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;

    
    /* display: block; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card-subtitle {
    /* display: block; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Activites ***********/
.activites {
    padding: 30px;
}

.activites-cards {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: 30px;
}

.activites-cards .card {
    margin-top: 33px;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: 30px;
}

.hebergements-cards .card {
    flex-direction: column;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Card containers ***********/

.populaires-title, .hebergements-title, .activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card, .hebergements-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards .card-title, .hebergements-cards .card-title, .activites-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle, .hebergements-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating, .hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem;
}
header > a > img {
    height: 20px;
    padding: 30px 50px;
}

header > nav {
    display: flex;
}
header > nav > a {
    font-weight: 400; 
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    vertical-align: bottom;
    margin: 0 1rem;
    text-align: center;
}
header > nav > a.active {
    box-shadow: 0 2px 0 var(--main-color) inset,
                0 0 0 #000 inset;
    color: var(--main-color);
}


/****** Footer ***********/
footer {
    margin-top: 2rem;
    background-color: var(--main-bg-color);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer ul {
    list-style-type: none;
    padding: 20px;
}
footer li:first-child { 
    margin-top: 15px;  
}
footer li:not(:last-child) { 
    margin-bottom: 15px;  
}
footer ul:before{
    content: attr(aria-label);
    font-weight: 700;
    margin-bottom: 15px; 
}


/****** Searchbar ***********/
.searchbar {
    display: flex;

    height: 50px;
    margin: 1rem 0;
}

.searchbar > *  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar > .searchbar-1 {
    width: 50px;
    border-radius: 15px 0 0 15px;
    background-color: var(--main-bg-color);
}
.searchbar > .searchbar-2 {
    border: thin solid var(--main-bg-color);
    font-size: 1.17rem;
    font-weight: 700;
    padding-left: 1rem;
}
.searchbar > .searchbar-2:focus-visible {
    outline: 0;
    background-color: #DEEBFF;
}
.searchbar > .searchbar-3-text {
    color: white;
    min-width: 50px;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--main-color);
    padding: 0 1rem;
}
.searchbar > .searchbar-3-icon {
    color: white;
    min-width: 50px;
    border-radius: 15px;
    background-color: var(--main-color);
    transform: translateX(-15px);
}

/****** Filters ***********/
.filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
    
}
.filter > span {
    font-size: 1.17rem;
    font-weight: 700;
    margin-right: 1rem;
}
.filter > ul {
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;

    padding: 0;
    gap: 10px;
    margin: 0;

    max-width: 80vw;
}
.filter > ul > li {
    border: medium solid var(--main-bg-color);
    border-radius: 8rem;
    padding: 8px 19px;
    display: inline-flex;
    font-weight: 700;
}
.filter > ul > li:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}


/* Le code ci-dessous correspond à la version responsive uniquement */
.d-none {
    display: none;
}
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-cards a {
        width: 30%;
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        height: 200px;
    }

    .filter > span {
        margin-bottom: 1rem;
        width: 100%;
    }

    .d-none-tablet {
        display: none;
    }
    .d-tablet {
        display: inherit;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .main-container {
        padding: 0 20px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }
    header > nav {
        width: 100%;
    }
    header > nav > a {
        margin: 0;
        width: 50%;
        align-items: center;
        box-shadow: 0 -2px 0 var(--main-bg-color) inset,
                    0 0 0 #000 inset;
    }
    header > nav > a.active {
        box-shadow: 0 -2px 0 var(--main-color) inset,
                    0 0 0 #000 inset;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .populaires a {
        width: 100%;
    }
    

    .activites-cards {
        grid-template-columns: minmax(0, 1fr);
        gap: 15px;
    }
    .activites-cards img {
        height: 141px;
    }
    .hebergements-cards {
        grid-template-columns: minmax(0, 1fr);
        gap: 15px;
    }

    footer {
        flex-direction: column;
        margin-left: -20px;
        margin-right: -20px;
        padding: 30px;
    }

    .d-none-mobile {
        display: none;
    }
    .d-mobile {
        display: inherit;
    }
}